.main-div-filter {
    height: 30px;
    width: 250px;
    background-color: #282C34;
    border: solid #79B6F2 3px;
    border-radius: 10px;
}

.main-div-filter * {
    margin: 0;
    padding: 0;
}

.main-div-filter ul {
    display: flex;
}

.main-div-filter ul li {
    width: 33.3%;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    font-size: 17px;
    transition: .4s;
}

.main-div-filter ul li:hover {
    background-color: #404a5e;
}

.main-div-filter ul li:nth-child(2){
    border-right: 3px #79B6F2 solid;
    border-left: 3px #79B6F2 solid;
    border-radius: 0;
}